.trd-container{
    @apply  px-[3vh] md:px-[8vh];
}

.trd-upper{
    @apply flex justify-between md:flex-row
    flex-col-reverse; 
}

.left-flex{
@apply flex flex-col  items-start pl-[50px] pt-[15vh] gap-8 md:gap-14  ; 
}
.trd-img{
    @apply w-[100vw] md:w-[50%];
}

.left-h{
@apply hidden md:block w-[400px] mb-8 mt-[5vh]; 
}
.left-h-mb{
@apply block md:hidden w-[600px] pt-[-200px] ; 
}

.left-p{
/* @apply w-[350px] md:text-xl text-gray md:text-left pr-[2vw] text-[15px] text-center mx-auto md:mx-0 leading-5;  */
@apply w-[401px] opacity-90 text-[#727272] text-2xl font-normal  leading-[29px] tracking-tight; 
}

.rt-vector{
    @apply mb-[-10vh] md:w-[50%] md:h-[50%] md:mb-0 ;
}


.trd-row{
    @apply flex flex-col md:flex-row gap-[20vw] justify-center items-center gap-[10vw] mt-8 md:mt-[20vh];
}



.trd-p{
    @apply max-w-[350px] h-[10vh] text-gray text-xl ;
}

.testimonial-scroll{
    @apply flex  overflow-x-auto snap-x scroll-smooth py-8 auto-scroll overflow-y-visible content-center;
box-shadow: 
        0px 0px 0px 0px rgba(0, 0, 0, 0.1),               /* light shadow */
        0px 21px 46px 0px rgba(0, 0, 0, 0.1),              /* subtle blur shadow */
        0px 83px 83px 0px rgba(0, 0, 0, 0.09),             /* medium blur shadow */
        0px 187px 112px 0px rgba(0, 0, 0, 0.05),           /* deep blur shadow */
        0px 333px 133px 0px rgba(0, 0, 0, 0.02),           /* large spread shadow */
        0px 520px 146px 0px rgba(0, 0, 0, 0.00);
}

@keyframes auto-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.auto-scroll {
    animation: auto-scroll 20s linear infinite;
}