@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


@font-face {
  font-family: 'MS UI Gothic';
  src: url('assets/fonts/msgothic.ttc') format('truetype-collection');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Sans FB Demi';
  src: url('texel/src/assets/fonts/berlin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}